/* ==========================================================================
   UTILITÁRIOS / JS / EFEITOS
   ========================================================================== */

#header-placeholder,
#footer-placeholder {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#header-placeholder.loaded,
#footer-placeholder.loaded {
    opacity: 1;
}

.conteudo-oculto { display: none; }

.aviso-ativo {
    padding: 5px;
    background: var(--cor-cinza);
    color: red;
    font-size: 12px;
    border-radius: 4px;
}

#feedback-msg {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
