<!DOCTYPE html>
<html lang="pt-br">
<head>
    <base href="http://localhost/ProjetoM2/The-Books-On-The-Web/public/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="styles/img/favicon.svg"  type="image/x-icon" class="favicon">
    <title>The Books On The Web</title>
</head>
<body>
    <header id="header-placeholder"></header>

    <main>
        <div class="caixa-menu cadastro-menu">
            <h2>Cadastre-se aqui</h2>
            <form method="post" class="menu" id="form-cadastro">
                <div class="valor caixa-texto">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" class="valor-texto" placeholder="Digite seu nome">
                    <p id="avisoNome" class="aviso"></p>
                </div>
                <div class="valor caixa-texto">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="valor-texto" id="email" placeholder="Digite seu email">
                    <p id="avisoEmail" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="cpf">CPF: </label>
                    <input type="text" name="cpf" id="cpf" class="valor-texto" placeholder="Digite seu CPF">
                    <p id="avisoCpf" class="aviso"></p>
                </div>




                <div class="valor caixa-texto">
                    <label for="data">Data de Nascimento: </label>
                    <input type="date" name="data" id="data" class="valor-texto" placeholder="Digite sua data de nascimento">
                    <p id="avisoData" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="senha">Senha: </label>
                    <input type="password" name="senha" id="senha" class="valor-texto" placeholder="Digite sua senha">
                    <p id="avisoSenha" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="senhaDois">Repita a senha: </label>
                    <input type="password" name="senhaDois" id="senhaDois" class="valor-texto" placeholder="Digite novamente sua senha">
                    <p id="avisoSenhaDois" class="aviso"></p>
                </div>





                <div class="valor">
                    <div class="interativo">
                        <button type="button" id="btnVoltar" class="btn-menu"><a href="templates/login/entrada.html">Voltar</a></button>
                        <button type="submit" id="btn-menu-criar" class="btn-menu">Criar</button>
                    </div>
                    <p id="aviso"></p>
                </div>
            </form>
        </div>
    </main>
    <footer id="footer-placeholder" class="caixa-footer"></footer>
    
</body>
<script src="scripts/script.js"></script>
<script type="module" src="scripts/login/cadastro.js"></script>
</html>