<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost/ProjetoM2/The-Books-On-The-Web/public/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="styles/img/favicon.svg"  type="image/x-icon" class="favicon">
    <title>The Books On The Web</title>
</head>
<body>
    <header id="header-placeholder"></header>

    <main>
        <div class="caixa-menu">
            <h2>Bem Vindo!</h2>
            <form class="menu">
                <div class="valor caixa-texto">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="valor-texto" id="emailEntrar" placeholder="Digite seu email" required>
                    <p id="avisoEmail" class="aviso-email aviso-campo"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="senha">Senha: </label>
                    <input type="password" name="senha" id="senhaEntrar" class="valor-texto" placeholder="Digite sua senha" required>
                    <p id="avisoSenha" class="aviso-senha aviso-campo"></p>
                </div>

                <div class="valor">
                    <button type="button" id="btnEntrar" class="btn-menu">Entrar</button>
                </div>
                <div class="valor links-menu">
                    <a href="templates/login/seguranca.html" class="link-menu">Esqueci minha senha</a>
                    <a href="templates/login/cadastro.html" class="link-menu">Criar uma conta</a>
                </div>
            </form>
        </div>
    </main>

    <footer id="footer-placeholder" class="caixa-footer"></footer>
</body>
<script src="scripts/script.js"></script>
<script src="scripts/login.js"></script>
</html>