<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public\css\style.css">
    <link rel="shortcut icon" href="/public\img\favicon.svg"  type="image/x-icon" class="favicon">
    <title>The Books On The Web</title>
</head>
<body>
    <header id="header-placeholder"></header>

    <main>
        <div class="caixa-menu cadastro-menu">
            <h2>Cadastre-se aqui</h2>
            <form class="menu">
                <div class="valor caixa-texto">
                    <label for="nome">Nome: </label>
                    <input type="text" name="nome" id="nome" class="valor-texto" placeholder="Digite seu nome" required>
                    <p id="avisoNome" class="aviso"></p>
                </div>
                <div class="valor caixa-texto">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="valor-texto" id="email" placeholder="Digite seu email" required>
                    <p id="avisoEmail" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="cpf">CPF: </label>
                    <input type="number" name="cpf" id="cpf" class="valor-texto" placeholder="Digite seu CPF" required>
                    <p id="avisoCpf" class="aviso"></p>
                </div>




                <div class="valor caixa-texto">
                    <label for="data">Data de Nascimento: </label>
                    <input type="date" name="data" id="data" class="valor-texto" placeholder="Digite sua data de nascimento" required>
                    <p id="avisoData" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="senha">Senha: </label>
                    <input type="password" name="senha" id="senha" class="valor-texto" placeholder="Digite sua senha" required>
                    <p id="avisoSenha" class="aviso"></p>
                </div>

                <div class="valor caixa-texto">
                    <label for="senhaDois">Repita a senha: </label>
                    <input type="password" name="senhaDois" id="senhaDois" class="valor-texto" placeholder="Digite novamente sua senha" required>
                    <p id="avisoSenhaDois" class="aviso"></p>
                </div>





                <div class="valor">
                    <div class="interativo">
                        <button type="reset" id="btn-menu" class="btn-menu">Limpar</button>
                        <button type="button" id="btn-menu-criar" class="btn-menu">Criar</button>
                    </div>
                    <p id="aviso"></p>
                </div>
            </form>
        </div>
    </main>
    <footer id="footer-placeholder" class="caixa-footer"></footer>
    
</body>
<script src="/public/script.js"></script>
<script type="module" src="/public/scripts/cadastro.js"></script>
</html>