<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/style.css">
    <link rel="shortcut icon" href="/public/style/img/favicon.png"  type="image/x-icon" class="favicon">
    <title>The Books On The Web</title>
</head>
<body>
    <header id="header-placeholder"></header>
            
    <main>

    </main>

    <footer id="footer-placeholder" class="caixa-footer"></footer>
</body>
<script src="/public/scripts/script.js"></script>
</html>