* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor-header: rgb(41, 40, 40);
    --cor-fundo:rgb(174, 173, 173);
    --cor-branco-letra: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
    --cor-cinza: rgb(248,248,248);
    --cor-cinza-letra: rgb(120,120,120);
    --cor-borda: rgb(204, 204, 204);
    --cor-hover-claro: rgb(163, 161, 161);
    --cor-cinza-claro: rgb(220, 220, 220);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
    margin-top: 20px;
}

header{
    background-color: var(--cor-header);
    color: var(--cor-branco-letra);
    width: 100%;
}

.header-cima{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
    padding: 20px; 
}
.empresa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nome-empresa{
    font-size: 12px;
    color: var(--cor-branco-letra);
    text-decoration: none;
}
.imagem-empresa{
    width: 50px;
    background-color: var(--cor-branco-letra);
}

.pesquisa {
    flex-grow: 1; 
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px; 
}

.pesquisar {
    display: flex;
    align-items: center;
}

.btn-pesquisa {
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    background-color: var(--cor-cinza-letra);
    padding: 6px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pesquisa:hover{
    opacity: 1;
    background-color: var(--cor-hover-claro);
}
.btn-pesquisa:active {
    transform: scale(0.90);
}

.input-pesquisa{
    border-radius: 5px;
    border: none;
    outline: none;
    justify-content: center;
    width: 100%; 
    padding: 5px 10px; 
}
.area-cadastro{
    display: flex;
    gap: 10px;
}

.header-baixo{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: var(--cor-header);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.item-menu {
    display: inline-block;
    padding: 5px 10px;
    font-size:larger;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    color: var(--cor-branco-letra);
    background-color: var(--cor-cinza-letra);
    transition: background 0.5s ease, transform 0.1s ease;
    font-weight: bold;
    border-radius: 2px;
}

.item-menu:hover {
    opacity: 1;
    background: var(--cor-hover-claro); 
    transform: scale(0.95);
}

.caixa-menu {
    margin: 40px auto;
    margin-top: 6%;
    padding: 50px;
    width: 350px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btn-menu {
    color: var(--cor-preto);
    background-color: var(--cor-cinza);
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1%;
    font-size: 16px;
    border: 1px solid var(--cor-cinza-claro);
}

.btn-menu:hover {
    background-color: var(--cor-hover-claro);
}

.btn-menu:active {
    transform: scale(0.95);
}


.caixa-texto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.valor-texto{
    padding: 8px;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer
}
.valor-texto:active{
    transform: scale(0.99);
}

.link-menu{
    display: flex;
    flex-direction: column;
    font-size: smaller;
    gap: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.link-menu:hover{
    text-decoration: underline;
    color: var(--cor-hover-claro);
}

.caixa-footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 2%;
    background-color: var(--cor-cinza);
    font-size: small;
    border-top: 1px solid var(--cor-borda);
    width: 100%;
}

.cadastro-menu{
    margin: 40px auto;
    margin-top: 6%;
    padding: 50px;
    width: 450px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.interativo{
    display: flex;
    gap: 5px;
}

.aviso-ativo{
    background-color: var(--cor-cinza);
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: red;
    font-size: 12px;
    margin-top: 2px;
}
#header-placeholder, 
#footer-placeholder {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#header-placeholder.loaded, 
#footer-placeholder.loaded {
    opacity: 1;
}

.btn-cadastro {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--cor-cinza-letra);
    color: var(--cor-branco-letra);
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer; 
    transition: background 0.5s ease, transform 0.1s ease;
    opacity: 0.9;
}

.btn-cadastro:hover {
    opacity: 1;
    background: var(--cor-cinza-claro); 
    transform: scale(0.95);
}
.botaoComVoltar{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}

.resposta-pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.caixa-menu-login {
    margin: 40px auto;
    margin-top: 6%;
    padding: 50px;
    width: 500px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}