<!DOCTYPE html>
<html lang="pt-br">

<head>
    <base href="http://localhost/ProjetoM2/The-Books-On-The-Web/public/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="shortcut icon" href="styles/img/favicon.svg" type="image/x-icon" class="favicon">
    <title>The Books On The Web</title>
</head>

<body>
    <header id="header-placeholder"></header>

    <main>

        <h1>Iniciatica de um projeto UMC</h1>
        <p>Começo de um código</p>


        <div class="grupo-um grupo">
            <a href="https://portal.umc.br/" class="logo-umc" target="_blank"><img src="styles/img/logo-umc.png" width="150" height="100"
                    alt="Imagem empresa"></a>
            <div class="resumo-projeto">
                <h2>Projeto da Universidade de Mogi das Cruzes</h2>
                <p>No segundo semestre de 2025 foi criado esse site em busca de oferecer books de livros voltados para a
                    área da tecnologia, com o intuito de facilitar a pesquisa e acesso a esses livros que hoje no
                    mercado fisico possui um valor muito elevado e de baixo acesso aos interessados</p>
            </div>
        </div>

        <div class="grupo-dois grupo">
            <div class="resumo-projeto projeto2">
                <h2>Como foi feito a coleta dos dados</h2>
                <p>Foi coletado por contas do github que publicam livros muito famosos de tecnologia e que sua versão física
                    é muito mais cara do que sendo pega pela web, esses livros coletados ficam aqui tendo uma visão
                    mais agradavel doque serem pegas pelo repositorio e mais facil de entender o livro</p>
            </div>
            <a href="https://github.com/" class="logo-github" target="_blank"><img src="styles/img/logo-github.png"alt="Imagem empresa" width="150" height="150"></a>
        </div>

    </main>

    <footer id="footer-placeholder" class="caixa-footer"></footer>
</body>
<script src="scripts/script.js"></script>

</html>